


body {
    font-family: "Comic Sans MS";
    font-size: 26px;
}

form {
    width: 1000px;
    margin: 0 60px;
}

#add-task-button {
    height: 40px;
    width: 120px;
    background-color: cyan;
    border: 1px solid blue;
    border-radius: 10px;
}

#add-task-button:hover {
    background-color: blue;
    color: white;
}

#input-task {
    width: 400px;
    height: 40px;
    border: 1px solid deepskyblue;
    border-radius: 10px;
}

#input-task:hover {
    background-color: azure;
}

h1 {
    font-size: 32px;
}

.delete-btn {
    border: 1px solid orangered;
    border-radius: 50%;
    padding: 4px 8px 4px 8px;
    margin: 5px 5px 5px 0px;
    background-color: red;
    color: white;
}

.delete-btn:hover {
    background-color: darkred;
    color: yellow;
}


label {
    display: block;
}

li {
    margin: 5px 5px 5px 5px;
}

input[type=checkbox] {
    height: 15px;
    width: 15px;
    background-size: 16px 16px;
}

input[type=checkbox]:hover {
    background-color: black;
    height: 15px;
    width: 15px;
    background-size: 16px 16px;
}

input[type=checkbox]:checked + span {
    text-decoration: line-through;
}





